@model IEnumerable<OrderSys.Models.MenuChoice>
@{
    Layout = "~/Views/Shared/_Owner.cshtml";
}
<section class="flex-sect">
    <div class="container-width">
        @foreach (var item in Model)
        {
            <div class="flex-title">Menu of the day.  @item.Menu.Date.ToShortDateString()<br id="ifplmr-2-2" /></div>
            <div class="flex-desc">Tick to add them.<br id="i7bkub-2-2-2" /></div>
            <div class="cards">
                @foreach (var i in item.Choices)
                {
                    <div class="card">
                        <div class="card-header"><img src="~/images/choices/@Url.Content(i.Pic)" alt="Image" style='height: 100%; width: 100%; object-fit: contain' /></div>
                        <div class="card-body">
                            <div class="card-title"></div>
                            <div class="card-title">@Html.DisplayFor(modelItem => i.Item)</div>
                            <div class="card-sub-title">RM @Html.DisplayFor(modelItem => i.Price)</div>
                            <div class="card-sub-title">
                                <div class="card-desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor incididunt ut labore
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>
<section class="am-sect">
    <div class="container-width"></div>
</section>
