
@model IEnumerable<OrderSys.Models.Choice>
@{
    Layout = "~/Views/Shared/_Owner.cshtml";
}

    <section class="flex-sect">
        <div class="container-width">
            <div class="flex-title">Update for @DateTime.Now.ToShortDateString()<br id="ifplmr-2-2" /></div>
            <div class="flex-desc">Tick to add them.<br id="i7bkub-2-2-2" /></div>
            <form action="~/MenuChoice/UpOpp">
                <div class="cards">
                    @foreach (var item in Model)
                    {
                        <div class="card">
                            <div class="card-header"><img src="~/images/choices/@Url.Content(item.Pic)" alt="Image" style='height: 100%; width: 100%; object-fit: contain' /></div>
                            <div class="card-body">
                                <div class="card-title"></div>
                                <div class="card-title">@Html.DisplayFor(modelItem => item.Item)<input value="True" name=@item.Item type="checkbox" /></div>
                                <div class="card-sub-title">RM @Html.DisplayFor(modelItem => item.Price)</div>
                                <div class="card-sub-title">
                                    <div class="card-desc">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="flex-desc"><input class="btn btn-info" type="submit" /></div>
            </form>

        </div>
    </section>
    <section class="am-sect">
        <div class="container-width"></div>
    </section>

    