@model OrderSys.Models.Order

@{
    ViewBag.Title = "DisplayMenu";
}

<table>
    <tr>
        <th>
            item
        </th>
        <th>
            Price
        </th>
    </tr>
    @foreach (var item in Model.MenuChoice.Choices)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Item)
            </td>
            <td>
                @Html.DisplayFor(model => item.Price)
            </td>
        </tr>
    }
</table>