@model OrderSys.Models.Order

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    @{
        Html.RenderPartial("DisplayMenu", Model);
    }
</div>
<div>
    @{
        Html.RenderPartial("Order", Model);
    }
</div>