<section class="flex-sect">
    <div class="container-width">
        <div class="flex-title">Flex is the new black</div>
        <div class="flex-desc">
            With flexbox system you're able to build complex layouts easily and with free responsivity
        </div>
        <div class="cards">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Date   :  Time<br /></div>
                    <div class="card-sub-title">RM <br /></div>
                    <div class="card-desc">Items</div>
                </div>
                <div class="row" id="ijkkl2">
                    <div class="cell" id="ipi4fb">
                        <img id="i3taxl" src="//placehold.it/350x250/79c267/fff/image3.jpg" /><img id="igex5n" src="//placehold.it/350x250/c5d647/fff/image4.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>